@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
#header {
  background-image: url(/Images/christopher-czermak-cRBCdpGtPf4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
#header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
img {
  height: 100%;
  width: 100%;
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}
ul {
  cursor: pointer;
}
.nav a {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  font-weight: 700;
}
li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1.8rem;
}
.nav ul li span {
  color: rgb(0, 219, 201);
}
.text h1 {
  justify-self: center;
}
.text h1 {
  text-align: center;
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 0 10rem;
}
button {
  background-color: rgb(0, 219, 201);
  padding: 1rem 4rem;
  border: none;
  outline: none;
  margin-top: 3rem;
}
button a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}
#body {
  background-color: white;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 2rem 10rem;
}
.info h1 {
  margin-top: 8rem;
  color: rgb(0, 219, 201);
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.info h2 {
  font-size: 2rem;
  color: rgb(92, 87, 87);
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.info p {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(92, 87, 87);
  margin-top: 3rem;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items .icon {
  width: 120px;
  height: 120px;
}
.item h2{
    color: rgb(0, 219, 201);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    padding: 2rem 0;
}
.item p{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(92, 87, 87);
    margin-top: 3rem;
}
